*{
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: rgb(214, 230, 230);
}

h1{
  align-items: center;
  font-weight: 800;
}
.special{
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
}